
<div class="container">
<h1>Hallo Characters List</h1>
<form class="d-flex search-custom" role="search">
    <input
    class="form-control me-2 "
    type="search"
    placeholder="Search"
    aria-label="Search"
    name="search"
  />
  <button
  class="btn btn-outline-success"
  type="submit"
  >Search</button>
      <a class="btn btn-outline-success" role="button" href="/characteres">All</a>

</form> 
  <div class="row">
    {{#each characteresFromBD}}
      <div class="card list-card col-sm-12 col-md-6 col-lg-4 gx-2 ">
           <img src="{{this.imageUrl}}" alt="{{this.name}}" class="card-img-top card-img-custom"/>
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p>{{this.occupation}}</p>
          <p>{{this.movie}}</p>
          <a
            class="btn btn-outline-success"
            role="button"
            href="/characteres/{{this._id}}"
          >See details</a>
          <a
            class="btn btn-outline-success"
            role="button"
            href="/characteres/{{this._id}}/edit"
          >edit</a>
        </div>
      </div>
    {{/each}}
</div>
