<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      {{! <h1>Welcome to Character Details</h1> }}
      <p class="fs-3">{{character.name}}</p>
      <p class="fs-4">{{character.occupation}}</p>
      <p>{{character.description}}</p>
      <p>{{character.movie}}</p>
      <div class="d-flex justify-content-start">
        <form action="/characteres/{{character._id}}/edit">
          <button type="submit" class="btn btn-secondary">Edit</button>
        </form>
        <form action="/characteres/{{character._id}}/delete" method="POST">

          <button
            id="deleteButton"
            type="submit"
            class="btn btn-danger mx-4"
          >Delete</button>
        </form>
        <form>
          <a
            class="btn btn-outline-success"
            role="button"
            href="/characteres"
          >cancel</a>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="{{character.imageUrl}}"
        alt="{{character.name}}"
        class="img-fluid"
      />
        <p>{{character.quotes}}</p>
    </div>
  </div>
</div>

<!-- Toast message HTML -->
{{! <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="toastMessage" style="display: none;">
  <div class="d-flex">
    <div class="toast-body">
      Character deleted successfully!
    </div>
    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div> }}